[% WRAPPER page.tt title = lol ; END %]
[% IF result %] <p>[% lol _ ": " _ result %]</p>[% END %]
<form name="translate" method=POST action="translate">
<input type="text" name="lol" value="" title="enter a text to translate">
<input type="submit" value="Translate">
</form>
